{
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "extends": "semantic-release-monorepo",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "ci",
            "release": false
          },
          {
            "type": "docs",
            "release": false
          },
          {
            "type": "test",
            "release": false
          },
          {
            "type": "chore",
            "release": false
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "scope": "no-release",
            "release": false
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failTitle": false
      }
    ]
  ]
}